body {
    margin-left: 20px;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
}
  
#main_header {
    background-color:lightblue;
    padding:5px;
}

.jumbo {
    padding-top:5px;
    font-size:16px;
}

.number {
    color: green;
}

